.image-modal {
  width: 45vw;
  position: fixed;
  z-index: 200;
  top: 1vh;
  left: 28%;
}

.open-img-modal-enter {
  opacity: 0;
  transform: translateY(-5rem);
}

.open-img-modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.open-img-modal-exit {
  opacity: 1;
  transform: translateY(0rem);
}

.open-img-modal-exit-active {
  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity 300ms, transform 300ms;
}

.image-modal > img {
  width: 100%;
  position: absolute;
  z-index: 201;
}

@media (max-width: 64rem) and (orientation: portrait) {
  .image-modal {
    top: 10vh;
    left: 15vw;
  }

  .image-modal > img {
    min-width: 70vw;
  }
}

@media (max-width: 29.9rem) {
  .image-modal {
    top: 19vh;
    left: 1%;
  }

  .image-modal > img {
    min-width: 98vw;
  }
}
