.main-footer {
  background-color: black;
  padding: 1rem;
  grid-area: footer;
}

.main-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-footer__item {
  padding: 0.6rem 1rem;
}

.main-footer__item > a {
  text-decoration: none;
  color: white;
}

.main-footer__item > a:hover,
.main-footer__item > a:active {
  color: #a8a8a8;
}

@media (max-width: 35.125rem) {
  .main-footer ul {
    flex-direction: column;
    align-items: center;
  }
}
